{#
/**
 * @file
 * Default theme implementation for displaying the rules fields table.
 *
 * Available variables:
 * - table: The table of fields.
 * - note: The table note.
 *
 * @see harmonize.theme.inc
 *
 * @ingroup themeable
 */
#}
{{ table }}
{% if note %}
  {{ note }}
{% endif %}
